@import "tailwindcss";

/* glowing effect */
@keyframes slow-ping {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }

  80% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.slow-ping {
  animation: slow-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* about blocks */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Flip Card Custom CSS */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
/* Lens glare radial gradient */
.bg-radial-glare {
  background: radial-gradient(
    circle at 30% 30%,     /* position of the glare */
    rgba(255, 255, 255, 0.6), 
    rgba(255, 255, 255, 0.1) 20%, 
    transparent 60%
  );
  mix-blend-mode: screen; /* gives shiny glare effect */
}

